.l_side {
    width: @side-width;
    float: right;
    margin-left: -@side-width;
    @media(max-width: @on-phone) {
        margin: @gap 0 0;
        width: 100%;
        .m_widget {
            box-shadow: 0px 1px 3px 1px fade(black, 50%);
        }
    }
}